body{
    font-family: 'Lato', sans-serif;
}

/* ---------Général---------- */

.nav, .aside, .header, .footer {
    background-color: black;
}
.nav li, .aside li, .header li {
    list-style: none;
    padding: 1.1rem 0;
}
.nav a, .aside a, .header a, .aside h3, .aside p, .aside h4, .footer {
    text-decoration: none;
    color: white;
}
.aside li:hover, .nav li:hover {
    background-color: #4AA02F;
}

/* -------Fin général------Début nav + header --------- */

.nav li {
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    padding: 0;
}

.rodneyy{
    margin-bottom: -45%;
}
.nav {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.card {
    width: 34%;
    border: none;
    background-color: black;
    color: white;
}
.card h4{
    font-size: 1.2rem;
    font-weight: bolder;
}
.card h2{
    font-size: 1.7rem;
}


/* -------Fin nav + header ------- Début aside----------- */

.aside, .aside ul {
    padding: 0;
}
.inaside li, .inaside p, .inaside h3, .inaside img, .inaside h4, .inaside input, .inaside > a{
    padding:0.5rem 0 0.5rem 2rem;
}

.inaside p{
    padding-right: 2rem;
}

.inaside input{
    width: 80%;
    margin: 2rem auto;
    border-radius: 5px;
    background-color: #191919;
    border: 1px solid #464646;
    padding: 0 1rem;
}

.inaside img{
    width: 80%;
}

.inaside ul li{
    border-top: 1px solid #464646;
}

.lastli{
    border-bottom: 1px solid #464646;
}


.audiotheme, .audiotheme img {
    width: 80%;
    margin: auto;
}


.audiotheme, .audiotheme p:nth-child(1){
    margin-top: 4rem;
}

.audiotheme h1{
    margin-bottom: 3rem;
}

.upcoming{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    border-top: 5px solid black;
}

.upcoming img{
    width: 100%; 
}

.fa-play{
    background-color: black;
    color: white;
    padding: 1rem;
}

.upcoming h3{
    font-weight: bolder;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
}

.upcoming a, .audiotheme a{
    color: #4AA02F;
}